* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.spinner {
  margin: 50vh auto;
  width: 4rem;
  height: 4rem;
  border: 5px solid white;
  border-top: 5px solid red;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
